<div>
    <div class="form-control clip-overflow" ng-click="show_list=!show_list">
        <button type="button" class="label btn pull-right text-center" ng-hide="show_list" tabindex="-1">
            <span class="glyphicon glyphicon-chevron-down" style="color: #555;"></span>
        </button>
        <button type="button" class="label btn pull-right text-center" ng-show="show_list" tabindex="-1">
            <span class="glyphicon glyphicon-chevron-up" style="color: #555;"></span>
        </button>
        {{ getItemString(ngModel) }}
    </div>
    <div ng-show="show_list" class="dropdown">
        <div class=" dropdown-input">
            <div ng-show="show_list" class="input-group">
                <input class="form-control" ng-model="search" placeholder="Input search data"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
            <ul class="dropdown-menu col-sm-12" style="display: block !important;">
                <li ng-repeat="object in objects | filter:search | limitTo:10">
                    <a class="clip-overflow" tabindex="-1" href="" ng-click="setObject(object)">{{ getItemString(object) }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>